# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TestGit.iml
# Editor-based HTTP Client requests
/httpRequests/
*.xml